.root {
  user-select: none;
  background-image: url("../images/bg_home.jpg");
  width: 100vw;
  height: 100vh;
}

.header{
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.content{
  height: 400px;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.footer{
  text-align: center;
  color: white;
  background-color: rgba(0,0,0,0.3);
}

.title {
  font-size: 5rem;
  color: white;
}

.summary {
  font-size: 3.5rem;
  color: white;
}

.download {
  font-size: 2rem;
  color: white;
  text-align: center;
  height: 60px;
  width: 300px;
  margin-top: 100px;
  line-height: 60px;
  border-radius: 30px;
  background-color: #32B2A7;
}

.qrcode {
  margin-top: 100px;
  width: 10vw;
  height: 10vw;
}
