.root {
  color: white;
  display: flex;
  user-select: none;
  background-image: url("../images/bg_home.jpg");
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 5rem;
  color: white;
}

.summary {
  font-size: 3.5rem;
  color: white;
}

.download {
  font-size: 2rem;
  color: white;
  text-align: center;
  height: 60px;
  width: 300px;
  line-height: 60px;
  border-radius: 30px;
  background-color: #32b2a7;
}

.qrcode {
  margin-top: 100px;
  width: 10vw;
  height: 10vw;
}

.icp {
  width: 100vw;
  height: 60px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
