* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

div#paper_bg {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background: url("https://music.dbankcdn.com/music-pics-cn/campaign/20190430/pathExchangeZip/170912_wallpaperHome.svg") no-repeat center fixed;
}

img#paper_img {
    width: auto;
    height: 100vh;
    position: fixed;
    transform: translateX(-10%);
}

#paper_submit {
    width: 60vw;
    height: 4vh;
    color: white;
    position: fixed;
    bottom: 5vw;
    left: 20vw;
    right: 20vw;
    background-color: rgba(255, 255, 255, 0.3);
}

div#spin-fill{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
}
